Title: Taking a look at Vehicular/Pedestrian accidents in the neighbourhoods of Vancouver

Introduction: The Question We are trying to answer is "Are there certain neigbourhoods that are more prone to vehicle/pedestrian accidents than others, and does the time of year have any affect on this?" We plan on using the mean and most likely the SD to narrow this down, as the mean will tell us the average that we are going to work with, and having as lower SD as possible would indicate that our mean is a good value to use, as the values are all clustered closer to it. And we would use the median and compare the mean with it to see if there are any outliers present that could be affecting our resutls, if there are than we would just use the median for everything if the outliers have a huge impact on it.

Preliminary Results:

Methods:Plan

References:

In [3]:
set.seed(1)
install.packages("tidyverse")
library(tidyverse)

The downloaded binary packages are in
	/var/folders/pv/20ft3yp91ml1chtyjtpmhtqh0000gn/T//RtmpVkX6Sb/downloaded_packages

In [5]:
crime = read.csv("crime_data.csv")

In [6]:
head(crime)
nrow(crime)

  TYPE                       YEAR MONTH DAY HOUR MINUTE HUNDRED_BLOCK
1 Break and Enter Commercial 2012 12    14   8   52
2 Break and Enter Commercial 2019  3     7   2    6     10XX SITKA SQ
3 Break and Enter Commercial 2019  8    27   4   12     10XX ALBERNI ST
4 Break and Enter Commercial 2021  4    26   4   44     10XX ALBERNI ST
5 Break and Enter Commercial 2014  8     8   5   13     10XX ALBERNI ST
6 Break and Enter Commercial 2020  7    28  19   12     10XX ALBERNI ST
  NEIGHBOURHOOD X        Y
1 Oakridge      491285.0 5453433
2 Fairview      490613.0 5457110
3 West End      491007.8 5459174
4 West End      491007.8 5459174
5 West End      491015.9 5459166
6 West End      491015.9 5459166

[1] 818120

In [9]:
selected_crime_data = select(crime, YEAR, TYPE, NEIGHBOURHOOD,) %>%
    group_by(NEIGHBOURHOOD)
head(selected_crime_data)
tail(selected_crime_data)

  YEAR TYPE                       NEIGHBOURHOOD
1 2012 Break and Enter Commercial Oakridge
2 2019 Break and Enter Commercial Fairview
3 2019 Break and Enter Commercial West End
4 2021 Break and Enter Commercial West End
5 2014 Break and Enter Commercial West End
6 2020 Break and Enter Commercial West End

  YEAR TYPE                                                 NEIGHBOURHOOD
1 2020 Vehicle Collision or Pedestrian Struck (with Injury) Mount Pleasant
2 2003 Vehicle Collision or Pedestrian Struck (with Injury) Riley Park
3 2005 Vehicle Collision or Pedestrian Struck (with Injury) Riley Park
4 2016 Vehicle Collision or Pedestrian Struck (with Injury) Riley Park
5 2013 Vehicle Collision or Pedestrian Struck (with Injury) Riley Park
6 2013 Vehicle Collision or Pedestrian Struck (with Injury) Riley Park

In [ ]:
"Hello_World!"

[1] "Hello_World!"